dp-list {
  overflow: auto;
  flex-direction: column;
  height: calc(100% - 63px);

  .list-content {
    flex: 1;
    height: 100%;
    overflow: auto;
    height: calc(100% - 38px);
    position: relative;

    table {
      padding: 20px;
      display: table;
      position: relative;
      background-color: var(--content-background);

      th {
        position: sticky;
        top: 0;
        background-color: var(--content-background);

        .inner {
          width: 100%;
          display: flex;
          flex-direction: row;

          p {
            flex: 1;
            line-height: 28px;
            margin: 0 20px 0 0;
          }

          dp-button button {
            padding: 6px 8px;
          }

          .sort-button button {
            color: var(--font-medium);
          }
          .sort-button.active button {
            color: var(--font-base);
          }
        }
      }
    }

    .loader {
      display: none;

      table {
        display: none;
      }
    }

    .nothingfound {
      padding: 60px 20px 0 20px;
      display: none;

      p {
        width: 100%;
        text-align: center;

        i {
          margin-right: 10px;
          font-size: 24px;
          color: var(--medium);
        }

        span {
          line-height: 24px;
          display: block;
          margin-top: 4px;
        }
      }
    }

    &.loading .loader {
      position: absolute;
      width: 100%;
      text-align: center;
      margin-top: 60px;
      display: block;

      i {
        font-size: 26px;
      }
    }

    &.nothingfound .nothingfound {
      display: block;
    }
  }

  .list-footer {
    position: relative;
    flex: 0;
    display: flex;
    padding: 6px 12px;
    background-color: var(--content-header-background);
    border-top: solid 1px var(--light);

    .modal {
      position: absolute;
      border-radius: 4px;
      bottom: 34px;
      padding: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      display: none;
      background-color: var(--nearly-white);
      user-select: none;

      &.active {
        display: block;
      }

      &.fields {
        dp-checkbox {
          display: block;
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &.templates {
        margin-left: 82px;

        .list {
          border-bottom: solid 1px var(--light);
          margin-bottom: 10px;
          padding-bottom: 5px;

          &:empty {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }

          .item {
            display: flex;
            margin-bottom: 5px;

            p {
              line-height: 26px;
              margin: 0;
              background-color: var(--almost-white);
              padding-left: 6px;
              padding-right: 12px;
              text-overflow: ellipsis;
              overflow: hidden;
              width: 140px;
              white-space: nowrap;
              border-radius: 4px 0 0 4px;
            }

            > * {
              button {
                border-radius: 4px 0 0 4px;
                padding: 5px 8px;
              }
            }

            > :first-child {
              flex: 1;

              button {
                width: 100%;
              }
            }

            > :last-child {
              margin-right: 0;

              button {
                border-radius: 0 4px 4px 0;
              }
            }
          }
        }

        .form {
          display: flex;

          dp-input-text {
            flex: 1;
            margin-right: 10px;
          }

          button {
            padding: 10px 12px;
          }
        }
      }
    }

    .left,
    .center,
    .right {
      flex: 1;

      > p {
        font-size: 14px;
        line-height: 25px;
      }
    }

    > * > dp-button {
      display: inline-block;

      button {
        padding: 4px 6px;
        font-size: 14px;
        margin-right: 6px;

        .fa,
        .far {
          margin-left: 4px;
        }
      }
    }

    .left {
      display: flex;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }
  }
}
