<div class="list-content">
  <table>
    <thead>
      <tr class="top js-table-header-top"></tr>
      <tr class="bottom js-table-header-bottom"></tr>
    </thead>
    <tbody class="js-table-body"></tbody>
  </table>
  <div class="loader">
    <i class="far fa-compass fa-spin"></i>
  </div>
  <div class="nothingfound">
    <p><i class="far fa-question-circle"></i><span>Nichts gefunden.</span></p>
  </div>
</div>
<div class="list-footer">
  <div class="left">
    <dp-button
      text="Felder"
      icon="far fa-check-square"
      class="fields js-fields"
    ></dp-button>
    <div class="modal fields js-fields-modal"></div>
    <dp-button
      text="Vorlagen"
      icon="far fa-file-alt"
      class="templates js-templates"
    ></dp-button>
    <div class="modal templates js-templates-modal">
      <div class="list js-list"></div>
      <div class="form">
        <dp-input-text
          placeholder="Name"
          class="js-template-name required"
        ></dp-input-text>
        <dp-button
          icon="fa fa-save"
          classes="positive"
          class="js-template-button"
        ></dp-button>
      </div>
    </div>
  </div>
  <div class="center">
    <dp-button
      text="Zurücksetzen"
      icon="fa fa-undo"
      class="js-reset"
    ></dp-button>
  </div>
  <div class="right">
    <p>
      <span>Anzahl: </span>
      <span class="js-count"><i class="far fa-compass fa-spin"></i></span>
    </p>
  </div>
</div>
