dp-navigation-item {
  margin-bottom: 4px;
  display: block;

  &:last-child {
    margin-bottom: 0;
  }

  button {
    display: block;
    padding: 6px 12px;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    user-select: none;
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    i {
      margin-right: 12px;
      width: 16px;
      text-align: center;
    }

    &.big {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:hover {
      background: var(--light-hover);
    }

    &:active {
      background: var(--light-active);
    }

    &.active {
      color: var(--white);
      background: var(--accent);

      &:hover {
        background: var(--accent-hover);
      }

      &:active {
        background: var(--accent-active);
      }
    }
  }
}
