<div class="contact-layout">
  <div class="layout-container">
    <div class="flex">
      <div class="flex-item">
        <h4>Informationen</h4>
        <p class="text-flex">
          <span>Name</span>
          <span>${name}</span>
        </p>
        <p class="text-flex">
          <span>Kontaktperson</span>
          <span>${contact_person}</span>
        </p>
      </div>
      <div class="flex-item">
        <h4>Bemerkungen</h4>
        ${remarks}
        <h4>Kategorisierung</h4>
        <p class="text-flex">
          <span>RW-Status</span>
          <span>${rwstatus}</span>
        </p>
        <p class="text-flex">
          <span>Beziehung</span>
          <span>${relationship}</span>
        </p>
        <p class="text-flex">
          <span>Kategorien</span>
          ${categories}
        </p>
      </div>
    </div>
  </div>
  <div class="flex break-early">
    <div class="flex-item">
      <div class="layout-container">
        <h4>Telefonnummern</h4>
        <table>
          ${phonenumbers}
        </table>
      </div>
    </div>
    <div class="flex-item">
      <div class="layout-container">
        <h4>E-Mail Adressen</h4>
        <table>
          ${emails}
        </table>
      </div>
    </div>
  </div>
  <div class="flex">
    <div class="flex-item">
      <div class="layout-container">
        <h4>Websites</h4>
        <p>${websites}</p>
      </div>
    </div>
    <div class="flex-item">
      <div class="layout-container">
        <h4>Social Media</h4>
        <p>${socialmedia}</p>
      </div>
    </div>
  </div>
  <div class="flex break-early">
    <div class="flex-item">
      <div class="layout-container">
        <h4>Adressen</h4>
        <p>${addresses}</p>
      </div>
    </div>
    <div class="flex-item"></div>
  </div>
</div>
