@import '../../layouts/contact';

dp-content-edit {
  height: 100%;
  display: flex;
  flex-direction: column;

  dp-content-header {
    flex: 0 0 63px;
  }

  form {
    padding: 20px;
    flex: 1;
    overflow: auto;
  }

  .contact-layout {
    @media only screen and (max-width: 1200px) {
      .flex {
        flex-direction: column;

        .flex-item {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }

    @media only screen and (max-width: 1600px) {
      .flex.break-early {
        flex-direction: column;

        .flex-item {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
    }

    .layout-container .text-flex span:first-child {
      line-height: 36px;
    }
  }
}
