<header>
  <dp-button class="js-prev-month" icon="fa fa-caret-left"></dp-button>
  <div></div>
  <dp-button
    class="js-month-button"
    text="November"
    classes="header-month"
  ></dp-button>
  <dp-button class="js-year-button" text="2020"></dp-button>
  <div></div>
  <dp-button class="js-next-month" icon="fa fa-caret-right"></dp-button>
</header>
<div class="date-content">
  <div class="day js-container-day">
    <div class="row">
      <span>Mo</span>
      <span>Di</span>
      <span>Mi</span>
      <span>Do</span>
      <span>Fr</span>
      <span>Sa</span>
      <span>So</span>
    </div>
    <div class="inner"></div>
  </div>
  <div class="month js-container-month hidden"></div>
  <div class="year js-container-year hidden">
    <dp-button icon="fa fa-arrow-left" text="Zurück" class="back"></dp-button>
    <div class="inner"></div>
  </div>
</div>
