@import 'fonts';
@import 'globals';
@import 'typography';
@import 'form';
@import 'variables';
@import 'fa';
@import 'table';

// modules
@import '../app/modules/login/login';
@import '../app/modules/crm/crm';

// contents
@import '../app/contents/detail/detail';
@import '../app/contents/edit/edit';
@import '../app/contents/list/list';
@import '../app/contents/tasks/tasks';
@import '../app/contents/email-reviewer/email-reviewer';
@import '../app/contents/404/404';

// components
@import '../app/components/button/button';
@import '../app/components/footer/footer';
@import '../app/components/navigation/navigation';
@import '../app/components/navigation-item/navigation-item';
@import '../app/components/navigation-group/navigation-group';
@import '../app/components/content-header/content-header';
@import '../app/components/list/list';
@import '../app/components/datepicker/datepicker';
@import '../app/components/toast/toast';
@import '../app/components/modal/modal';
@import '../app/components/confirmation/confirmation';
@import '../app/components/document-selector/document-selector';
@import '../app/components/design-toggler/design-toggler';

@import '../app/components/form/submit-button/submit-button';
@import '../app/components/form/input-text/input-text';
@import '../app/components/form/input-textarea/input-textarea';
@import '../app/components/form/input-date/input-date';
@import '../app/components/form/input-password/input-password';
@import '../app/components/form/input-select/input-select';
@import '../app/components/form/input-file/input-file';
@import '../app/components/form/input-document-selector/input-document-selector';
@import '../app/components/form/input-checkbox/input-checkbox';
@import '../app/components/form/field/field';
@import '../app/components/form/multiple/multiple';
@import '../app/components/form/multiple/multiple-item/multiple-item';
@import '../app/components/form/horizontal-wrapper/horizontal-wrapper';
@import '../app/components/form/form-heading/form-heading';

.toast-container {
  position: absolute;
  left: 0;
  padding: 10px;
  bottom: 0;
  width: 250px;
  height: auto;
  pointer-events: none;
}
