$light: #EFEFEF;
$light-hover: #E2E2E2;
$light-active: #C9C9C9;

$white: #FFFFFF;
$nearly-white: #FAFAFA;
$almost-white: #F5F5F5;
$medium: #888888;
$black: #000000;

$accent-light: #DBDCEB;
$accent-medium: #8990BC;
$accent: yellow;
$accent-hover: #2C304C;
$accent-active: #191C2C;

$positive: #00B32D;
$positive-hover: #009A27;
$positive-active: #008020;

$negative: #FF3344;
$negative-hover: #FF0015;
$negative-active: #CC0011;

$info: #00ABFF;
$info-hover: #0089CC;
$info-active: #006799;
