$light: #efefef;
$light-hover: #e2e2e2;
$light-active: #c9c9c9;

$white: #fff;
$nearly-white: #fafafa;
$almost-white: #f5f5f5;
$medium: #888;
$black: #000;

$accent-light: #dbdceb;
$accent-medium: #8990bc;
$accent: #3e456d;
$accent-hover: #2c304c;
$accent-active: #191c2c;

$positive: #00b32d;
$positive-hover: #009a27;
$positive-active: #008020;

$negative: #ff3344;
$negative-hover: #ff0015;
$negative-active: #cc0011;

$info: #00abff;
$info-hover: #0089cc;
$info-active: #006799;
