input,
select,
textarea {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  width: 100%;
  min-width: 120px;
}
input[type='checkbox'] {
  width: auto;
  min-width: auto;
  padding: 0;
  margin: 0 4px 0 0;
  top: 2px;
  width: 15px;
  height: 15px;
  position: relative;
}

input {
  padding: 8px 10px;
  border-radius: 3px;
  border: none;
  background-color: var(--light);
  outline: none;

  &:hover,
  &:focus {
    background-color: var(--light-hover);
  }
}

button,
input[type='submit'],
select,
textarea {
  border: none;
  padding: 8px 12px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  appearance: none;
  outline: none;
  background-color: var(--light);

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: var(--light-hover);
  }

  &:last-child {
    margin-bottom: 0;
  }

  span {
    color: inherit;
  }

  &.transparent {
    background-color: transparent;
    color: var(--medium);

    &:hover {
      background-color: var(--nearly-white);
    }

    &:active {
      background-color: var(--almost-white);
    }
  }

  &.accent {
    background-color: var(--accent);
    color: var(--white) !important;

    &:hover {
      background-color: var(--accent-hover);
    }

    &:active {
      background-color: var(--accent-active);
      color: var(--font-base-light);
    }
  }

  &.positive {
    background-color: var(--positive);
    color: var(--white);

    &:hover {
      background-color: var(--positive-hover);
    }

    &:active {
      background-color: var(--positive-active);
    }
  }

  &.negative {
    background-color: var(--negative);
    color: var(--white);

    &:hover {
      background-color: var(--negative-hover);
    }

    &:active {
      background-color: var(--negative-active);
    }
  }

  &.right {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }
}

button {
  &:active {
    background-color: var(--light-active);
  }
}

button,
input[type='submit'],
input::-webkit-file-upload-button,
select {
  cursor: pointer;
}

input::-webkit-file-upload-button {
  background-color: var(--accent);
  color: var(--white);
  margin: 0 10px 0 0;
  padding: 9px 12px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  appearance: none;
  outline: none;
  border: none;
  font-family: 'Quicksand', sans-serif;

  &:hover {
    background-color: var(--accent-hover);
  }

  &:active {
    background-color: var(--accent-active);
  }
}

select {
  padding: 9px 34px 9px 12px;
}
