dp-input-date {
  position: relative;

  input {
    cursor: pointer;
    padding: 9px 40px 9px 12px;
  }

  dp-datepicker {
    position: absolute;
    left: 4px;
    top: 16px;
    z-index: 10;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border: solid 1px $light-hover;
    display: none;
  }

  &.active {
    dp-datepicker {
      display: block;
    }
  }

  > i {
    position: absolute;
    right: 12px;
    top: 0;
  }
}
