dp-input-date {
  position: relative;
  display: block;

  &.error {
    input {
      border-left: solid 3px var(--negative);
    }
  }

  input {
    padding: 9px 40px 9px 12px;
  }

  dp-datepicker {
    position: absolute;
    right: 0;
    top: 39px;
    z-index: 10;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px var(--light-hover);
    display: none;
  }

  > dp-button {
    position: absolute;
    top: 3px;
    right: 3px;
    margin: 0;

    button {
      background-color: var(--light-hover);

      &:hover {
        background-color: var(--light-active);
      }
    }
  }

  &.active {
    dp-datepicker {
      display: block;
    }
  }

  > i {
    position: absolute;
    right: 12px;
    top: 0;
    color: var(--font-base);
  }
}
