@import '../../../styles/colors';

dp-content-detail {
  display: flex;
  flex-direction: column;
  height: 100%;

  .detail-container {
    padding: 20px;
    overflow: auto !important;

    .flex {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .flex-item {
        flex: 1;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        .container {
          height: 100%;
        }
      }
    }

    .employee-wrap {
      max-height: 400px;
      overflow: auto;
    }

    .container {
      padding: 25px;
      background-color: $nearly-white;
      border-radius: 6px;
      margin-bottom: 20px;
      border: 1px solid $almost-white;

      &:last-child {
        margin-bottom: 0;
      }

      h4 {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 700;
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }

        &.none {
          opacity: .3;
          user-select: none;
        }
      }

      .text-flex {
        display: flex;

        span {
          &:first-child {
            flex: 0 0 120px;
            font-weight: 400;
          }
        }
      }

      p {
        margin-bottom: 4px;
        font-weight: 500;

        a.iconlink {
          margin-left: 6px;
          opacity: .6;
          top: -2px;
          cursor: pointer;
          position: relative;

          i {
            font-size: 12px;
          }
        }

        a {
          display: inline-block;

          i.linkicon {
            margin-right: 6px;
            font-size: 12px;
            opacity: .8;
          }
        }

        &.none {
          opacity: .3;
          user-select: none;
        }

        &.remark {
          padding: 10px;
          background-color: $almost-white;
          display: inline-block;
          width: 100%;
          border-radius: 3px;
          max-height: 120px;
          overflow: auto;
          min-height: 50px;
          opacity: 1;
        }
      }

      a {
        margin-bottom: 0;
        display: block;
        text-decoration: none;
        color: $accent-active;

        &:hover {
          color: $accent-medium;
        }

        &.map {
          display: inline-block;
          margin-left: 8px;
          position: relative;
          top: -1px;
          opacity: .8;
          font-size: 14px;
        }
      }
    }
  }
}
