@import '../../../styles/colors';

dp-button {
  button {
    display: flex;
    white-space: nowrap;

    > * {
      pointer-events: none;
    }

    i,
    span {
      line-height: 16px;
    }

    i {
      flex: 0;
      margin-right: 10px;
      font-size: 12px;
      position: relative;
      top: 3px;
    }

    span {
      flex: 0;
      user-select: none;
      white-space: nowrap;

      &.empty {
        margin-left: -12px;
      }
    }
  }
}
